<!DOCTYPE html>
<html>
<head>
    {% include "crm/navbar.html" %}
   
    <title>add</title>
    <!-- Include Bootstrap CSS or other styling here if needed -->
</head>
<body> <div class="container" > <br><br><br>
  
    {% load crispy_forms_tags %}

    <form method="post" onsubmit="return confirm('Added New Record Success');" class="form-width">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Add Record Data&nbsp;<span class="fa-solid fa-plus"></span></button>
    </form> <br>